/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global custom styles */
body{
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #F5F6F8;
  font-family: 'Open Sans', sans-serif;
}
.content-area {
  grid-template-columns: 250px 1fr;
}

.app-navbar {
  background-color: #38414A;
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.app-logo{
  color: #fff;
}
.app-logo img {
  height: 34px;
}

.app-sidebar {
  background-color: #484B52;
  height: calc(100vh - 64px);
  position: sticky;
  top: 64px;
  z-index: 998;
}